.DS_Store
tutorial/data/__pycache__/__init__.cpython-313.pyc
tutorial/outputs/*
tutorial/__pycache__/*
tutorial/visualization/__pycache__/
tutorial/data/__pycache__/
tutorial/evaluation/__pycache__/
tutorial/__pycache__/
tutorial/data/__pycache__/*
__pycache__
*.pt
tutorial/logs/training/metrics.json
tutorial/logs/training/metrics_history.json
tutorial/logs/training/plots/loss.png
