.DS_Store
data/__pycache__/__init__.cpython-313.pyc
outputs/*
__pycache__/*
visualization/__pycache__/
data/__pycache__/
evaluation/__pycache__/
__pycache__/
data/__pycache__/*
__pycache__
*.pt
logs/training/metrics.json
logs/training/metrics_history.json
logs/training/plots/loss.png
logs/training/samples/
logs/training/wandb/
logs/
